@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

:root{
    --primaryColour: white;
    --secondaryColour: black;
    --alternativeColour: gray;
    --borderColour: purple;
    --font-family: 'Roboto', sans-serif;
}

/* Logo */
#logo{
    width: 200px;
    border-radius: 100%;
    float: left;
    margin-right: 100px;

}

main{
    margin-left: 20%;
}